p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.02em;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.container-footer {
  display: flex;
}
:root {
  --accent-color: #4d5ae5;
  --basic-color: #2e2f42;
  --color-text: #434455;
  --color-text-button: #ffffff;
  --color-background: #f4f4fd;
  --color-footer-text: #e7e9fc;
  --color-hover: #404bbf;
  --modal-color: #fcfcfc;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-b {
  padding-top: 120px;
}

/* -------------------utilits---------------------------- */
.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.btn {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* ---------------HEADER--------------------- */

header {
  border-bottom: 1px solid #e7e9fc;
}

.logo {
  font-family: "Raleway";

  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--basic-color);
}
.logo .logo-color {
  color: var(--accent-color);
}

/* main-nav */

.main-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin-left: 76px;
}

.site-nav > .item + .item {
  margin-left: 40px;
}

.nav-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--basic-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.active {
  color: var(--color-hover);
}

.current {
  position: relative;
}

.current::after {
  position: absolute;
  bottom: -1px;
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  margin-top: 24px;
  background: #404bbf;
  border-radius: 2px;
}

.auth-nav {
  display: flex;
  margin-left: auto;
}

.auth-nav > .item + .item {
  margin-left: 40px;
}

.list-contact {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-text);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-contact:hover,
:focus {
  color: var(--color-hover);
}

/* ---------------HERO--------------------- */

.hero {
  max-width: 1440px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 188px;
  padding-bottom: 188px;
  background-color: var(--basic-color);
  background-image: linear-gradient(
      to right,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
}

.hero-titl-buttn {
  width: 494px;
  margin-right: auto;
  margin-left: auto;
}

.hero-title {
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.1;

  text-align: center;
  color: var(--color-text-button);
}
.hero-btn {
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  margin-top: 48px;
  margin-left: auto;
  margin-right: auto;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;

  color: var(--color-text-button);

  background-color: var(--accent-color);

  border-radius: 4px;
  border: 0;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--color-hover);
}

/* ---------------BENEFITS--------------------- */

.benefist-list {
  display: flex;
}

.benefist-item {
  width: 264px;
  margin-right: 24px;
}

.benefist-item::before {
  display: block;
  content: "";
  height: 112px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f4f4fd;
  margin-bottom: 8px;
}

.icon-antenna::before {
  background-image: url(../images/antenna.svg);
}

.icon-clock::before {
  background-image: url(../images/clock.svg);
}

.icon-diagram::before {
  background-image: url(../images/diagram.svg);
}

.icon-astronaut::before {
  background-image: url(../images/astronaut.svg);
}

.benefist-item:nth-last-child(4n + 1) {
  margin-right: 0;
}

.benefits-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--basic-color);
}
.benefits-text {
  font-size: 16px;
  line-height: 1.5;

  color: var(--color-text);
}

/* ---------------What are we doing--------------------- */

.doing-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--basic-color);
}
.doing-list {
  display: flex;
}

.doing-item + .doing-item {
  margin-left: 24px;
}

/* ---------------Our Team--------------------- */
.team {
  background-color: var(--color-background);
}

.team-list {
  display: flex;
  gap: 24px;
  text-align: center;
}

.team-item {
  width: calc((100% - 72px) / 4);
  background-color: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-title-text {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  padding-right: 16px;
}

.team-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--basic-color);
}
.team-after-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--basic-color);
}
.team-text {
  margin-top: 8px;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-text);
  margin-bottom: 8px;
}

.team-soc-list {
  display: flex;
  justify-content: center;
}

.team-soc-item {
  width: 40px;
  height: 40px;
}
.team-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-soc-icon {
  fill: #ffffff;
}

.team-soc-link:is(:hover, :focus) {
  background-color: var(--color-hover);
}

.team-soc-item:not(:nth-child(4)) {
  margin-right: 24px;
}

/* ---------------CUSTOMERS--------------------- */

.customers-title {
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  margin-bottom: 72px;
}

.customers {
  padding-top: 130px;
  padding-bottom: 120px;
}

.customers-list {
  display: flex;
  gap: 24px;
}

.customers-item {
  width: calc((100% - 120px) / 6);
  height: 90px;
}
.customers-link {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #8e8f99;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:is(:hover, :focus) {
  border-color: var(--color-hover);
  fill: var(--color-hover);
}

.customers-icon .customers-link:is(:hover, :focus) {
  fill: currentColor;
}

/* ---------------FOOTER--------------------- */

.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--basic-color);
}

.container-wrap {
  display: flex;
}

.footer-text {
  width: 264px;
  margin-top: 16px;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-footer-text);
}

.footer-logo.logo {
  color: var(--color-background);
}

.soc-link {
  margin-left: 120px;
}

.soc-icon {
  width: 20px;
  height: 20px;
  fill: var(--color-background);
}

.list-soc-link {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.item-soc-link {
  width: 40px;
  height: 40px;
}

.customer-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-soc-link:is(:hover, :focus) {
  background-color: #31d0aa;
}

.text-soc-link {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  color: #ffffff;
}

.form-email {
  margin-left: 80px;
}

.label-email {
  display: block;
  margin-bottom: 16px;
  color: var(--color-text-button);
}

.input-email {
  width: 264px;
  height: 40px;
  padding-left: 16px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--color-text-button);
  background-color: transparent;
  border: 1px solid var(--color-text-button);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.input-email::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--color-text-button);
}

.icon-wrap {
  position: relative;
}

.btn-email {
  width: 165px;
  height: 40px;
  margin-left: 24px;
  padding: 8px 24px;
  font-weight: 500;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--color-text-button);
  background: #4d5ae5;
  border-radius: 4px;
  border-color: transparent;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-email:is(:hover, :focus, :active) {
  background-color: var(--color-hover);
}

.form-wrap-email {
  display: flex;
}

.email-icon-form {
  fill: var(--color-text-button);
  position: absolute;
  top: 10px;
  right: 24px;
}

/* ---------------PORTFOLIO--------------------- */

/* ---------------buttons--------------------- */

.filters-buttons {
  padding-top: 96px;
}

.filter-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;

  color: var(--accent-color);

  /* border */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  height: 48px;
  background-color: #f4f4fd;
  border: 1px solid #e7e9fc;
  border-radius: 4px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn:hover,
.filter-btn:focus,
.filter-btn:active {
  color: #ffffff;
  background-color: var(--color-hover);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* ---------------WORKS--------------------- */

.filter-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding-top: 96px;
}

.list-work {
  display: flex;
  flex-wrap: wrap;
  margin-top: 72px;
  padding-bottom: 120px;
}

.list-item {
  background-color: var(--color-text-button);
  width: 360px;
  margin-right: 24px;
  margin-bottom: 48px;
  position: relative;

  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.list-item:nth-child(3n + 3) {
  margin-right: 0;
}

.list-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.work-title-text {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-right: 16px;
  padding-left: 16px;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
}

.work-link {
  text-decoration: none;
}

.ovelay-top {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  transform: translatey(100%);
}

.work-link:is(:hover, :focus, :active) .overlay {
  transform: translatey(0);
}

.text-overlay {
  margin-top: 40px;
  margin-left: 32px;
  margin-right: 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.work-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--basic-color);
}
.work-text {
  margin-top: 8px;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-text);
}

/* ------------------------------MODAL-WINDOW------------------------------------ */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);

  opacity: 1;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  padding: 24px;
  min-width: 408px;
  min-height: 576px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-color: var(--modal-color);
  border-radius: 4px;
}

.button-mod-close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background: #e7e9fc;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);

  position: absolute;
  top: 24px;
  right: 24px;

  transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}

.button-mod-close:is(:active, :hover) {
  background-color: var(--color-hover);
  fill: #fcfcfc;
}

.modal-field {
  margin-bottom: 8px;
}

.mod-title {
  display: block;
  margin-top: calc(72px - 24px);
  margin-bottom: 16px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: var(--basic-color);
}

.mod-input {
  display: block;
  width: 360px;
  height: 40px;
  padding-left: 38px;
  background-color: transparent;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  outline: transparent;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mod-input:focus {
  border-color: var(--accent-color);
}

.mod-input:focus + .modal-input-icon {
  fill: var(--accent-color);
}

.mod-label {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;

  color: #8e8f99;
}

.input-wrap {
  position: relative;
  margin-top: 4px;
}

.modal-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-teax-wrap {
  width: 360px;
  margin-bottom: 16px;
}

.modal-teax {
  resize: none;
}

.modal-teax {
  width: 100%;
  height: 120px;
  padding: 8px;
  padding-left: 16px;
  font-size: 12px;
  line-height: 1.33;
  background-color: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal-teax::placeholder {
  font-size: 12px;
  line-height: 1.33;

  letter-spacing: 0.04em;

  color: rgba(117, 117, 117, 0.5);
}

.checkbox-wrap {
  width: 360px;
  position: relative;
}

.check-text {
  display: flex;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.privacy-policy {
  color: var(--accent-color);
  margin-left: 4px;
  font-size: 12px;
  line-height: 1.3;

  letter-spacing: 0.04em;
}

.check-text span {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check:checked + .check-text span {
  background-color: var(--color-hover);
  border: none;
  fill: var(--color-background);
}

.modal-check:focus + .check-text span {
  border-color: var(--color-hover);
}

.check-icon {
  position: absolute;
  top: 10%;
}

.btn-submit {
  display: block;
  width: 169px;
  height: 56px;
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 32px;
  font-weight: 500;

  line-height: 1.5;
  letter-spacing: 0.04em;

  color: #ffffff;

  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.btn-submit:is(:hover, :focus, :active) {
  background-color: var(--color-hover);
}